@font-face {
  font-family: "Lato-Black";
  src:
    url("../font/Lato-Black.tttf");
}

img{
	max-width: 100%;
	display: block;
}
body {
	font-family: "Lato-Black";
}
header{
	background-color: #222;
}
.container{
	width: 1600px;
	margin: 0 auto;
}
.navigation{
	width: 1140px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	
}
.navigation__logo{
	display: flex;
	gap: 41px;
	align-items: center;
}
nav{
	display: flex;
	gap: 33px;
	align-items: center;
	margin-top: 26px;
	margin-bottom: 20px;
}
.content{
	display: flex;
	align-items: center;
	gap: 63px;
	margin-bottom: 65px;

}
.title__right h1{
	font-size: 48px;
	font-family: "Lato-Black";
	text-transform: uppercase;
	font-weight: 900;
	line-height: normal;
	padding-left: 16px;
}
.title__right h2{
	font-size: 32px;
	font-family: "Lato-Black";
	font-weight: 700;
	text-transform: uppercase;
	line-height: normal;
	padding-left: 16px;
}
.title {
	background: #F1E4E6;
}
.title__right{
	border-left: 12px solid #F16D7F;
}
#fashion{
	color: #F16D7F;
}
.carts__container{
	width: 1140px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-bottom: 96px;
}
.carts__top{
	display: flex;
	justify-content: center;
	gap: 30px;

}
.cart__one{
	background-image: url(./img/body/block-one.jpg);
	width: 360px;
	height: 260px;

}
.cart__two{
	background-image: url(./img/body/block-two.jpg);
	width: 360px;
	height: 260px;
}

.cart__three{
	background-image: url(./img/body/block-three.jpg);
	width: 360px;
	height: 260px;
}
.carts__bottom{
	background-image: url(./img/body/block-four.jpg);
	width: 1140px;
	height: 180px;
}
.cart__one p {
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	color: #fff;
	text-transform: uppercase;
}
.cart__one h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
	color: #F16D7F;
	text-transform: uppercase;
}
.blackout {
	background: rgba(33, 22, 22, 0.70);
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.cart__two p {
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	color: #fff;
	text-transform: uppercase;
}
.cart__three p {
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	color: #fff;
	text-transform: uppercase;
}
.cart__two h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
	color: #F16D7F;
	text-transform: uppercase;
}
.cart__three h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
	color: #F16D7F;
	text-transform: uppercase;
}
.carts__bottom h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: normal;
	color: #F16D7F;
}
.carts__bottom p {
	font-size: 16px;
	font-weight: 400;
	line-height: 19.2px;
	color: #fff;
}
.list__title h2 {
	color: #222;
	font-size: 30px;
	font-weight: 400;
	line-height: normal;
	text-align: center;
}
.list__title p {
	font-size: 14px;
	color: #9F9F9F;
	font-weight: 400;
	line-height: normal;
	text-align: center;
}
.lists {
	margin-top: 48px;
}
.lists__top{
	display: flex;
	justify-content: center;
	gap: 30px;
}
.lists__bottom{
	display: flex;
	justify-content: center;
	gap: 30px;
	padding-top: 30px;
}
.carts__list {
	width: 360px;
	height: 581px;
	background-color: #F8F8F8;
}
.lists h4 {
	color: #000;
	font-size: 13px;
	font-weight: 400;
	line-height: normal;
}
.lists_price {
	color: #F16D7F;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
}
.lists_about {
	color: #5D5D5D;
	font-size: 14px;
	font-weight: 300;
	line-height: normal;
	text-align: left;
}
.list_column{
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin: 16px 24px;
}
.btn__lists{
	display: flex;
	justify-content: center;
	margin-top: 48px;
}
.btn__lists button{
	border: 1px solid #FF6A6A;
	color: #F26376;
	background-color: #fff;
	padding: 15px 39px;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 100px;
}





